/* Add styles for the HomePage component */

/* Container styles */
body {
  background-color: #fceff2; /* Rose gold background color */
  width: 100%;
  margin: 0%;
}

.container {
  background-color: #fceff2; /* Rose gold background color */
  width: 100%;
  margin: 0%;
}

/* Heading styles */
h1 {
  color: #FF69B4; /* Rose gold heading color */
  font-family: 'Pacifico';
  text-align: left;
  margin-left: 10px;
  font-size: 48px;
}

/* Lead text styles */
.lead {
  color: #FFB85F; /* Gold text color */
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Quicksand';
  text-align: left;
  margin-left: 10px;
}

/* Button styles */
.btn-primary {
  background-color: #FF69B4; /* Rose gold button background color */
  color: #fff; /* White button text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  /* text-transform: uppercase; */
  margin-top: 20px;
  font-family: 'Quicksand';
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  background-color: #ff1493; /* Lighter rose gold on hover */
}

footer {
  text-align: center;
  font-family: 'Pacifico';
  background-color: #fceff2;
}

.text-muted{
  color:#FF69B4!important;
}

.user-functions{
  display: flex;
  justify-content: space-between;
  margin: 25px 0px;
  overflow: hidden;
}

.user-functions .btn-primary {
  max-height: 44px;
  min-width: 142px;
}

.search-box{
  margin-top: 20px;
  max-height: 44px;
  font-family: 'Quicksand';
}

.login .btn-primary{
  background-color: #FFB85F;
  min-width: 80px;
}

.login .btn-primary:hover{
  background-color: #f99d2d;
}