/* Add styles for the DetailPage component */

/* Container styles */
.container-fluid {
  background-color: #fff1ef; /* Rose gold background color */
  padding: 0px;
  margin-top: 0%;
}

/* Card styles */
.card {
  /* background-color: #fddbe0;  */
  background-color: #fde5e8;
  border-radius: 8px;
  padding: 30px;
  margin: auto;
  width:80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-family: 'Quicksand';
}

/* Image styles */
.card-img-top {
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

/* Title styles */
.card-title {
  color: #ff69b4; /* Rose gold heading color */
  font-size: 32px;
  margin-bottom: 10px;
  font-family: "Quicksand";
  font-weight: bolder;
}

/* Description styles */
.card-text {
  color: #757575; 
  margin-bottom: 20px;
  font-size: 24px;
  font-family: Helvetica, Arial, sans-serif;
}

.star-section {
  /* font-size: 20px; */
  /* border: #757575 solid 1px; */
  padding: 11px 20px;
  margin-right: 10px;
  border-radius: 4px;
}

.checked {
  color: #FFB85F;
  margin-right: 3px;
  font-size: 20px;
}

.unchecked {
  color: #757575;
  margin-right: 3px;
  font-size: 20px;
}

.checked:hover {
  color:#757575;
}

.unchecked:hover {
  color:#FFB85F;
}

/* Edit button styles */
.btn-secondary {
  background-color: #ff69b4; /* Rose gold button background color */
  color: #fff; /* White button text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
}

.btn-secondary:hover {
  background-color: #ff1493; /* Lighter rose gold on hover */
}

/* Like button styles */
.card-body button {
  background-color: #AD6690; /* Rose gold button background color */
  color: #fff; /* White button text color */
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  margin-right: 10px;
}

.card-body button:hover {
  background-color: #8f5577; /* Lighter rose gold on hover */
}

.comment-section {
  width: 100%;
  margin-top: 0px;
  padding: 0px;
  font-size: larger;
}



.comment-section button:hover {
  background-color: #8f5577;
}


/* Add comment button styles */
.btn-primary {
  background-color: #ff69b4; /* Rose gold button background color */
  color: #fff; /* White button text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #ff69b4; /* Lighter rose gold on hover */
}

/* Comments styles */
h3 {
  color: #ff69b4; /* Rose gold heading color */
  font-size: 24px;
  margin-top: 20px;
}


/* CSS for the comment form container */
.comment-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 20px;
  width: 100%;
} 

textarea {
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #FFB85F;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 18px;
  resize: none;
}

form {
  width: 100%;
}

.comments {
  margin-left: 40px;
  padding: 30px 0px 10px 20px;
  box-shadow: 0 0.8em 0.8em -1em rgba(0, 0, 0, .25);
  display: flex;
  justify-content: space-between;
}

.comment-section button {
  padding: 10px 20px; /* Adjust padding as needed */
  margin: 0px;
  background-color: #AD6690; /* Change the button background color */
  color: #fff; /* Set text color to white */
  display: flex;
  justify-content: right;
  font-size: medium;
}

/* CSS for the submit button */
.comment-form button {
  margin: 10px 0px 0px 0px; /* Add some spacing between textarea and button */
  padding: 10px 2cqi; /* Adjust padding as needed */
  background-color: #ff69b4; /* Change the button background color */
  color: #fff; /* Set text color to white */
  display: flex;
  justify-content: right;
  text-align: right;
  float: right;
}

/* Style the button on hover */
.comment-form button:hover {
  background-color: #ff1493; /* Change the background color on hover */
}
@media (max-width: 768px) {
  .comment-form textarea {
    height: 80px; /* Adjust the height for smaller screens */
  }
}
