/* Add styles for the DisplayPage component */

/* Page container */
.display-page {
  font-family: 'Quicksand';
  background-size: cover;
  /* background-color: #ffe4e1; Rose gold background color */
  padding: 10px;
}

.container-fluid{
  padding: 20px;
}

.display-page h2 {
  color: #FF69B4; 
  padding-left: 20px;
  margin: 10px 0px;
  font-family: 'Pacifico';
  text-transform: capitalize;
  font-size: 36px;
}

/* Post card */
.post-card {
  /* background-color: #fddbe0; */
  background-color: #fde5e8;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.post-card-img {
  width: 100%;
  height: auto;
  /* width:fit-content; */
  border-radius: 8px;
}

.post-card h3 {
  font-size: 30px;
  color: #FF69B4; /* Rose gold heading color */
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Quicksand';
}

.post-card p {
  color: #AD6690; /* Gold text color */
  margin: 0% 3%;
  text-align: left;
  font-size: 24px;
    /* font-family: Helvetica, Arial, sans-serif; */
}

.post-card .post-content {
  color: #757575; /* Dark text color */
  margin-top: 0%;
}

.post-card .post-meta {
  color: #333; /* Dark text color */
  margin-top: 10px;
}

/* Pagination buttons */
.pagination {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0px 20px;
}
.prev {
  display: flex;
  justify-content: left;
}

.next {
  display: flex;
  justify-content: right;
}

.pagination button {
  background-color: #FFB85F; /* Rose gold button background color */
  color: #fff; /* White button text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ff1493; /* Lighter rose gold on hover */
}
