/* Add styles for the DisplayPage component */

/* Page container */
.display-page {
  font-family: 'Quicksand';
  background-size: cover;
  /* background-color: #ffe4e1; Rose gold background color */
  padding: 10px;
}

.container-fluid{
  padding: 20px;
}

.display-page h2 {
  color: #FF69B4; 
  padding-left: 20px;
  margin: 10px 0px;
  font-family: 'Pacifico';
}

/* Post card */
.post-card {
  background-color: #fddbe0;
  /* border: 2px solid #AD6690;  */
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 2px 4px #b48ea4;
}

.post-card-img {
  max-width: 100%;
  height: auto;
  width:fit-content;
  border-radius: 8px;
}

.post-card h3 {
  font-size: 24px;
  color: #FF69B4; /* Rose gold heading color */
  margin-bottom: 5px;
}

.post-card p {
  color: #AD6690; /* Gold text color */
  margin: 0% 5%;
  text-align: left;
}

.post-card .post-content {
  color: #333; /* Dark text color */
  margin-top: 10px;
}

.post-card .post-meta {
  color: #333; /* Dark text color */
  margin-top: 10px;
}

/* Pagination buttons */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #FF69B4; /* Rose gold button background color */
  color: #fff; /* White button text color */
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ff1493; /* Lighter rose gold on hover */
}
