/* Add styles for the HomePage component */

/* Container styles */
.container {
  background-color: #ffe4e1; /* Rose gold background color */
  /* padding: 20px; */
}

/* Heading styles */
h1 {
  color: #FF69B4; /* Rose gold heading color */
}

/* Lead text styles */
.lead {
  color: #eac80c; /* Gold text color */
  font-weight: bolder;
  font-size: 30px;
}

/* Button styles */
.btn-primary {
  background-color: #FF69B4; /* Rose gold button background color */
  color: #fff; /* White button text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #ff69b4; /* Lighter rose gold on hover */
}

/* DisplayPage styles */
/* You can link to your existing DisplayPage CSS file here */
